<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dusk - <%= defined?(target) ? target : 'Welcome' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/vendor/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/vendor/cubism.v1.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper container">
      <% if defined?(target) %>
      <script src="/js/dusk.js" type="text/javascript"></script>
      <script type="text/javascript">
        var myTarget = '<%= target %>'
        var dashboard = new Dusk(myTarget)
        dashboard.generateAxis()
        dashboard.generateRule()
        dashboard.generateHorizons()
      </script>
      <% end %>
    </div>
  </body>
</html>
