<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dusk - <%= defined?(target) ? target : 'Welcome' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/vendor/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/vendor/cubism.v1.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Dusk</a>
          <% if defined?(target) %>
            <span class="star"><a href="#">&#9734;</a></span>
        <% end %>
        </div>
      </div>
    </div>
    <div class="wrapper container">
      <% if defined?(target) %>
      <script src="/js/dusk.js" type="text/javascript"></script>
      <script type="text/javascript">

        var myTarget = '<%= target %>'
        var dashboard = new Dusk(myTarget)

        dashboard.setFavoriteStatus()
        dashboard.generateAxis()
        dashboard.generateRule()
        dashboard.generateHorizons()

        // bind the favorite() action to an inactive star
        $('span.star').on('click', 'a.inactive', function() {
          $('.star a').addClass('active')
          $('.star a').removeClass('inactive')
          dashboard.favorite(function() {
            dashboard.setFavoriteStatus()
          })
        })

        // bind the unfavorite() action to an active star
        $('span.star').on('click', 'a.active', function() {
          $('.star a').addClass('inactive')
          $('.star a').removeClass('active')
          dashboard.unfavorite(function() {
            dashboard.setFavoriteStatus()
          })
        })

      </script>
      <% else %>
      <h2>Welcome to Dusk</h2>
        <% if defined?(favorites) %>
        <div class="row">
          <ul class="favorites">
            <% favorites.each do |metric| %>
              <li><a href="/metrics/<%= metric %>"><%= metric %></a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
